/* Basic Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: 'Arial', sans-serif;
background-color: #CF3919;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.Anakin {
perspective: 1000px; /* For a subtle 3D effect on hover */
}
.card1 {
width: 300px;
height: 700px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background-color: #ffd966;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: left;
transition: transform 0.3s;
}
.card1:hover {
transform: rotateY(10deg);
}
.Apic {
width: 250px;
height: 400px; 
border: 5px red; /* Creates a nice border effect */
}
.Ainfo {
text-align: center;
padding: 20px;
}

.Obi-Wan {
perspective: 1000px; /* For a subtle 3D effect on hover */
}
.card2 {
width: 300px;
height: 700px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background-color: #ffd966;
overflow: hidden;
display: flex;
flex-direction: column;
align-items: right;
transition: transform 0.3s;
}
.card2:hover {
transform: rotateY(-10deg);
}
.Opic {
width: 250px;
height: 400px;
border: 5px blue; /* Creates a nice border effect */
}
.Oinfo {
text-align: center;
padding: 20px;
}
h1 {
margin: 10px 0;
display: flex;
flex-direction: row;
}
p {
color: #666;
font-size: 0.9em;
}
